:root {
  --primary-color: #B2574D;
  --clr-white: #fff;
}
.txt-clr {
  color: var(--primary-color);
}
.tracker {
  margin-block: 3rem;
  margin-inline: 2rem;
  background-color: #fff3f3;
  width: 650px;
  min-height: 600px;
  max-height: 600px;
  box-shadow: 5px 5px 10px rgb(202, 201, 201);
  position: relative;
  border-radius: 10px;
  padding-bottom: 2rem;
}
textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  height: 8rem;
}
.custom-border {
  border-bottom: 1px solid #b2574d6e;
}
.btn-clr {
  background-color: var(--primary-color);
  color: var(--clr-white);
  transition: 250ms ease-in-out;
  font-size: 1.1rem;
}
.btn-clr:hover {
  color: var(--primary-color);
  background-color: var(--clr-white);
}

