.tracker {
  margin-block: 3rem;
  margin-inline: 2rem;
  background-color: #f3f3f3;
  min-width: 375px;
  width: 650px;
  min-height: 550px;
  max-height: 550px;
  box-shadow: 5px 5px 10px rgb(202, 201, 201);
  position: relative;
  border-radius: 10px;
  padding-bottom: 2rem;
}

textarea {
  font-family: 'Open Sans', sans-serif;
  resize: none;
  height: 8rem;
}
.Profile li {
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.026);
}
.form-control {
  outline: transparent;
  border: transparent;
}
.form-control:focus{
  outline: 2px solid var(--primary-color);
  box-shadow: none; 
  -webkit-box-shadow: none;
} 
